<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Do the task</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
       
    </head>
    <body>
        <h:form>
            <h:commandButton action="home?faces-redirect=true" value="Home" />
            <h:commandButton value="Logout" action="#{loginUser.logout}"/>
        </h:form>
    <div>
        <c:if test="#{task.taskDone!=null}">
             <h:form>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <c:if test="#{task.project.dataType=='text'}">
                        <h:outputText value="#{task.taskDone.data}"/>
                    </c:if>
                    <c:if test="#{task.project.dataType=='textarea'}">
                        <h:outputText value="#{task.taskDone.data}"/>
                        <h:inputTextarea cols="30" rows="10" readonly="readonly" value="#{task.taskDone.data}" />
                    </c:if>
                    <c:if test="#{task.project.dataType=='image'}">
                        <h:graphicImage value="#{task.taskDone.data}" rendered="#{task.taskDone != null}" />
                    </c:if>
                    <c:if test="#{task.project.dataType=='video'}">
                         <section id="reproductor">
                            <video src="#{task.taskDone.data}"></video>
                        </section>
                    </c:if>
                </div>
            </div>
            <div class="col-md-8">
                <div class="questionHere">
                    <div><h:outputText value="#{task.project.questionText}"/></div>
                </div>
                <div class="optionHere">
                    <c:if test="#{task.project.answerType=='select'}">
                        <div><h:outputText value="#{task.project.answerData}" rendered="#{task.taskDone != null}"/></div>
                        <h:selectOneMenu value="#{task.taskDone.answer}">
                            <c:forEach items="#{task.answerElements}" var="el" >
                                <f:selectItem itemValue="#{el}" itemLabel="#{el}" />
                            </c:forEach>
                        </h:selectOneMenu>
                    </c:if>
                    <c:if test="#{task.project.answerType=='text'}">
                        <div><h:outputText value="#{task.project.answerData}" rendered="#{task.taskDone != null}"/>
                            <h:inputTextarea cols="30" rows="10" value="#{task.project.answerData}" />
                    </c:if>
                    <c:if test="#{task.project.answerType=='textarea'}">
                        <div><h:outputText value="#{task.project.answerData}" rendered="#{task.taskDone != null}"/>
                            <h:inputText value="#{task.project.answerData}"/></div>
                    </c:if>
                    <c:if test="#{task.project.answerType=='radio'}">
                        <h:selectOneRadio value="#{task.taskDone.answer}" rendered="#{task.taskDone != null}">
                            <c:forEach items="#{task.answerElements}" var="el" >
                                <f:selectItem itemValue="#{el}" itemLabel="#{el}" />
                            </c:forEach>
                        </h:selectOneRadio>
                    </c:if>
                </div>
            </div>
        </div>
                <h:commandButton id="sendWork" action="#{task.doneTask}" value="Send work"/>
            </h:form>
            
        </c:if>
        <c:if test="#{task.taskDone==null}">
            <h1>No more task for this project</h1>
        </c:if>
        </div>
    </body>
</html>
