<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
        <title>Add a project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
    $('button.addWork').click(function(){
       $('div.addWorkHere').append('<input type="text" class="workToDo change" placeholder="Insert work here"/>'); 
       validateForm();
    });
    $('button.addOption').click(function(){
       $('div.addOptionHere').append('<input type="text" class="answerData change" placeholder="Insert option name here"/>'); 
       validateForm();
    });

});
function validateForm(){
        $('input.change, select.change').unbind();
        $('input.change, select.change').change(function(){
        console.log('Change');
        var dataTab= [];
        $('input.answerData.change').each(function(){
            dataTab.push($(this).val());
        });
        var workTab= [];
            $('input.workToDo.change').each(function(){
                workTab.push($(this).val());
            });
        var typeData= $('.dataType.change option:selected').val();
        var typeRessource= $('.ressourceType.change option:selected').val();
        
        $('.Hquestion input[type=hidden]').val($('input.question.change').val());
        $('.HressourceType input[type=hidden]').val(typeRessource);
        $('.HdataType input[type=hidden]').val(typeData);
        $('.HtaskToDo input[type=hidden]').val(JSON.stringify(workTab));
        $('.HanswerData input[type=hidden]').val(JSON.stringify(dataTab));
        $('.HanswerData input[type=hidden]').val(JSON.stringify(dataTab));
        $('.HlenAnswerType input[type=hidden]').val(dataTab.length);
        $('.HlenTaskToDo input[type=hidden]').val(workTab.length);
        
    });
    }
        </script>
    </head>
    <body>
        <h:form>
            <h:commandButton action="home?faces-redirect=true" value="Home" />
            <h:commandButton value="Logout" action="#{loginUser.logout}"/>
        </h:form>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <span>Add work here</span>
                    <div><span>Type of ressource</span>
                        <select class="ressourceType change">
                            <option value="text">text</option>
                            <option value="textarea">textarea</option>
                            <option value="image">image</option>
                            <option value="video">video</option>
                        </select>
                    </div>
                    <button class="addWork">Add work</button>
                    <div class="addWorkHere"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div><span>Work To do ?</span><input type="text" class="question change"/></div>
                <select class="dataType change">
                    <option value="text">text</option>
                    <option value="text">texterea</option>
                    <option value="radio">radio</option>
                    <option value="checkbox">chekbox</option>
                </select>
                <div class="btnAddOption">
                    <button class="addOption">Add Option</button>
                </div>
                <div class="addOptionHere"></div>
            </div>
        </div>
        <div>
            <h:form>
                <h:panelGroup styleClass="Hquestion"><h:inputHidden value="#{addProject.question}" id="question"/></h:panelGroup>
                <h:panelGroup styleClass="HressourceType"><h:inputHidden value="#{addProject.ressourceType}" id="ressourceType"/></h:panelGroup>
                <h:panelGroup styleClass="HtaskToDo"><h:inputHidden value="#{addProject.taskToDo}" id="taskToDo"/></h:panelGroup>
                <h:panelGroup styleClass="HanswerData"><h:inputHidden  value="#{addProject.answerData}" id="answerData"/></h:panelGroup>
                <h:panelGroup styleClass="HdataType"><h:inputHidden value="#{addProject.dataType}" id="dataType"/></h:panelGroup>
                <h:panelGroup styleClass="HlenTaskToDo"><h:inputHidden value="#{addProject.lenTaskToDo}" id="lenTaskToDo"/></h:panelGroup>
                <h:panelGroup styleClass="HlenAnswerType"><h:inputHidden value="#{addProject.lenAnswerType}" id="lenAnswerType"/></h:panelGroup>
                <h:commandButton id="sendWork" action="#{addProject.sendWork}" value="Send work"/>
            </h:form>
        </div>
    </body>
</html>
