<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Admin home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
       
    </h:head>
    <h:body>
        <c:if test="#{loginUser.isAdmin==true}">
            <h:form>
            <h:commandButton action="home?faces-redirect=true" value="Home" />
            <h:commandButton action="addProject?faces-redirect=true" value="Add a Project" />
            <h:commandButton action="viewProjects?faces-redirect=true" value="View all Project" />
            <h:commandButton value="Logout" action="#{loginUser.logout}"/>
        </h:form>
        </c:if>
        <c:if test="#{loginUser.isAdmin==false}">
            <h:form>
            <h:commandButton action="home?faces-redirect=true" value="Home" />
            <h:commandButton action="projectTODO?faces-redirect=true" value="All Project" />
            <h:commandButton action="doTask?faces-redirect=true" value="Do it !!" />
            <h:commandButton value="Logout" action="#{loginUser.logout}"/>
        </h:form>
        </c:if>
    </h:body>
</html>

