<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Create an account</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
       
    </h:head>
    <h:body>
        <h:link outcome="index.xhtml" value="Home"/>
    <h:form>
        <fieldset>
            <div><span>Name</span><h:inputText id="name" value="#{loginUser.name}" required="true" size="20" maxlength="20" /></div>
            <div><span>Email</span><h:inputText id="email" value="#{loginUser.email}" required="true" size="40" maxlength="40" /></div>
            
            <div><span>Password</span><h:inputSecret id="passwd" value="#{loginUser.password}" required="true" size="20" maxlength="20" /></div>
            <div><span>Retype password</span><h:inputSecret id="passwd2" value="#{loginUser.password}" required="true" size="20" maxlength="20" /></div>
            <div>
                <h:selectOneMenu id="admin" value="#{loginUser.isAdmin}">
                    <f:selectItem id="User" itemLabel="User" itemValue="false" />
                    <f:selectItem id="Admin" itemLabel="Admin" itemValue="true" />
                </h:selectOneMenu>
            </div>
            <div><h:commandButton value="Register" action="#{loginUser.addUser}"/></div>
        </fieldset>
    </h:form>  
    </h:body>
</html>
